PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/team-kudos
JWT_ACCESS_SECRET=super_secret_access_key_kudos_2026_change_in_production
JWT_REFRESH_SECRET=super_secret_refresh_key_kudos_2026_change_in_production
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
